
/* mise en place de la police raleway */
@font-face 
{
    font-family: Raleway-VariableFont_wght;
    src: url(polices/static/Raleway-Black.ttf) format('truetype');
    src: url(polices/static/Raleway-bold;ttf) format('truetype');
    font-weight: normal;

}
/* Eléments esthétiques de la page */
body
{
    
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Raleway-VariableFont_wght, Arial, Helvetica, sans-serif;
    text-align: left;
    background-color: white;
    
}
main
{
max-width: 1200px;
margin: auto;
}
header
{
    display: flex;
    justify-content: space-between;   
}

header, #titre_principal
{
    padding-bottom: 10px;
}
#logo
{
    width: 100px;
}
#logo img
{
    width: 109px;
    height: 50px;
    padding-top: 30px;
}
nav ul 
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    
}
nav li
{
    margin-right: 25px;

}
li 
{
    color:#0065FC;
    padding-top: 30px;
   
}
li:hover
{
  color:#0065FC;
  padding-top: 30px;
  border-top: 1px solid  #0065FC ;
}
nav a
{
    
    font-size: 1.3em;
    padding-bottom: 3px;
    text-decoration: none;
} 
 
 a:hover
{   
    text-decoration: none;
    color: #0065FC ;
    border-bottom: 1px solid #f2f2f2;
    
}

a
{
    color:rgb(7, 6, 6);
    text-decoration: none;
}
#bas
 {
     margin-bottom: 20px;
     display: block;
     
 }  
#bas >p
{
    padding-left: 5px;
    font-size: medium;
}
#bas,h1,h2
{
    font-size: large;
    width: 900px;
}
.recherche > input 
{
    font-size: medium;
    padding-left: 25px;
    border-color: transparent;
    
}
.recherche
{   
    height: 40px;
    width: 300px;
    display: flex;
    
}
.recherche > span
{   
    padding-top: 5px;
    padding-left: 7px;
    color:white;
    padding-right: 15px;
    background-color: #0065FC;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#form__loupe
{
  display: none;
}


.fa-map-marker-alt:before
{
    padding-right: 5px;
}

#barre 

 { 

     width: 700px;
     margin-bottom: 10px;
     margin-top: 10px;
     vertical-align: top; 
     text-align: left; 
     display: flex; 
     justify-content: space-between;  

 } 

 
 

 #barre> h3 

 { 
    font-size: small;
     color: #000; 
     padding-top: 10px;
     
     margin:0px 
    
} 

 #barre ,.fas 
 { 
     
     border-radius:  30px;
    

 } 
#barre, span
 {
     padding-right: 15px;
 }
 h3
 {
     color: black;
 }
 

 button

{ 
    border-radius: 5.8rem;
    border: solid 1px #d9d9d9;

} 
#loge
{ 
    margin-top:20px;
    display: flex;
}
#loge> h3
{
padding-bottom: 20px;
padding-left: 10px;
margin: 0px;
}
#submit
{    
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        font-family: Raleway-VariableFont_wght, Arial, Helvetica, sans-serif;
        color: blanchedalmond;
}

button i.fas
{
    background-color:#DEEBFF ;
    display: inline-block;
    border-radius: 30px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.8em 0.9em;
    color: #0065FC;
}
.fa-info-circle:before
{
    padding-right: 5px;
    color:cornflowerblue;
}
.fa-star:before
{
  color: #0065FC;
}
section, img
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
section, article
{
    border-radius: 10px;
    margin: 10px
}
#hebergement_populaire
{
    display: flex;
}
#hebergement
{
    width: 70%;
    background-color:#F2F2F2;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    
}


#hebergement, h1 ,h2
{
    padding-bottom: 5px;
    color: black;
}
.recherche
{   height: 30px;
    width: 300px;
    display: flex;   
}

.hebergement__card
{
  background-color:#f2f2f2 ;
  box-shadow:  10px 5px 5px #d9d9d9;
  height: 230px;
  width: 30%;  
  border: solid 1px #d9d9d9;
  margin: 10px;
  padding-bottom: 5px;
  
}
.hebergement__card img
{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.hebergement__card h3, span,p
{
    padding-left: 10px;
    color: #000;
}
#populaire  
{ 
    margin-top: 50px;
    
    
}
#populaire > h2
{
    display: inline;
    /*padding-right: 70px;*/
    padding-left: 10px;
    padding-right: 70px;
    padding-bottom: 5px;
}

.populaire__card
{   
    background-color:#f2f2f2;
    box-shadow:  10px 5px 5px #d9d9d9;
    height: 180px; ;
    width: 100%; 
    border: solid 1px #d9d9d9; 
    
}
.populaire__card img
{   
    width: 49%;
    height: 100%;
    object-fit: cover;
    padding-right: 3px;
}
.populaire__card div
{   
    float: right;
    width: 50%;
    height: 100%;

}

#populaire  > h3
{
    font-size: 5px;
}
#hebergement, #populaire > h2
{
    align-self: center;
}
#activites
{
    width: 100%;
    height: 700px;
    padding: 10px;
    margin: 10px; 
    text-align: left;
    display: flex;
    justify-content: space-evenly;
   
    
  
    
    
    

}
#activites > h1
{
    padding-right: 50px;
    width: 220px;
}

#activites__column1
{
 width: 21%;
 height: 100%;
}
#activites__column2
{
 
 width: 21%;
 height: 100%;
}

#activites__carde1
{ 

  width: 51%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
  
}
#activites__carde2
{
  width: 21%;
  height: 100%;
  display: flex;
  flex-direction: column;

  
}
.activites__column
{
width: 21%;
height: 100%;
}
.column_2card
{
display: flex;
justify-content: space-between;
flex-direction: column;
}
.activites__card2__activites__column
{
height: 30%;
}
.activites__card3__activites__column
{

height: 30%;
}
.activites__card4__activites__column
{

height: 100%;
}
.activites__card5__activites__column
{

height: 49%;
}
.activites__card6__activites__column
{
height: 49%;
}

.activites__img
{
  width: 100%;
  height: 80%;
  object-fit: cover;
 
}
.populaire__card :hover
{
    transform: scale(1.05);
}
.hebergement__card :hover
{
    transform: scale(1.05);
}
.activites__card :hover 
{
  transform: scale(1.05);
}
footer 
{
    text-align: left;
    background-color:#F2F2F2 ;
    display: flex;
    
    
}
 footer  li
{
  
    list-style-type: none;
    
}
footer li:hover
{
  color:#0065FC;
  padding-top: 30px;
  border-top: 1px solid  transparent;
}

footer h2
{
padding-left: 40px;
}
#a_propos1
{ 
    width: 340px;
}
#nos_hebergements
{
    width: 340px;
}
#assistance
{
    width: 340px;
}

@media screen and (max-width: 375px)
{
  header
  {
    display: block;
  }
  #logo
  {
    width: 130px;
    display: block;
    margin-left: 110px;
    margin-right: 0px;
  }
  li:hover
{
  color:#0065FC;
  padding-top: 30px;
  border-bottom: 1px solid  #0065FC ;
  border-top: none;
}
#titre_principal
{
  padding-right: 60px;
}
button 
{
  padding: 0px;
}
#bas,h1 
{
  width: 275px;
}
#bas,p 
{
font-size: smaller;
}
.recherche >span 
{
  display: none;
  background-color: transparent;
}
#form__loupe
{
  /*
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 20px;
  color:#0065FC;
  
  cursor: pointer;
*/
display: block;
color: #f2f2f2;
background-color: #0065FC;
border-bottom-right-radius: 10px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

#barre > h3
{
text-align: left;
}
#barre 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

h3.loge 
{
  font-size: smaller;
}
#hebergement
{
  order: 2;
}
#populaire
{
  order: 1;
}
#activites 
{
  order: 3;
}
#hebergement_populaire
{
  display: flex;
  flex-flow: column wrap;
}
#hebergement
{
  width:90%;
  height: 20%;
}
#populaire
{
  width: 100%;
}
#populaire > h2
{
  padding-right: 60px;
}
.populaire__card
{
  width: 100%;
  background-color: #f2f2f2;
}
.populaire__card img
{
  padding-right: 0px;
}
.hebergement__card 
{
  width:95%;
  height: 250px;
}
.hebergement__card img 
{
  width: 100%;
}
#activites > h1
{
  padding-right: 30px;
}
#activites
{
display: inline-block;
}
.activites__card
{
  width: 100%;
}
.activites__card img
{
  width: 100%;
  height: 20%;
}
footer 
{
  display: inline-block;
}

footer li:hover
{
  color:#0065FC;
  padding-top: 30px;
  border-bottom: 1px solid  transparent ;
  border-top: none;
}
}