/* mise en place de la police raleway */
@font-face 
{
    font-family: Raleway-VariableFont_wght;
    src: url(polices/static/Raleway-Black.ttf); format('truetype'),
    src: url(polices/static/Raleway-bold;ttf); format('truetype'),
    font-weight: normal;
    font-style: normal;
}

/* Eléments esthétiques de la page */
body
{
    background:#F2F2F2 ;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    text-align: left
}
#bloc_page
{
    width: 900px;
    margin: auto;
}
section h1, footer h2, nav a
{
    font-family: Raleway-VariableFont_wght;
    ont-weight: normal
}


/* éléments du <div> header */
header
{
    background: white
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#titre_principal
{
    display: flex;
    flex-direction: column;
}
#logo
{
    display: flex;
    flex-direction: row
    align-items: strech;
}

#logo img
{
    width: 59px;
    height: 60px;
}
header h1
{
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0 0 10px;
}
header h2{
    font-size: 1em; 
    margin-top: 0px;
    font-weight: normal;
}
/* mise en page du nav dans le header */



 
nav ul
{
    list-style-type: none;
    display: flex;
}
nav li
{
    margin-right: 15px;
}
nav a

{
    font-size: 1.3em;
    color:#9298a1;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}