/* mise en place de la police raleway */
@font-face 
{
    font-family: Raleway-VariableFont_wght;
    src: url(polices/static/Raleway-Black.ttf) format('truetype');
    src: url(polices/static/Raleway-bold;ttf) format('truetype');
    font-weight: normal;

}

/* Eléments esthétiques de la page */
body
{
    
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    background:#c08181 ;
    font-family: Raleway-VariableFont_wght, Arial, Helvetica, sans-serif;
    color:rgb(121, 117, 117);
    text-align: left
}
main
{
width: 988px;
    background-color: #F2F2F2;
}


header
{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;


      
}
header, #titre_principal
{
    padding-bottom: 10px;
}

section h1, footer h2, nav a
{
    font-size: 1.4em;
    font-family: Raleway-VariableFont_wght;
    font-weight: normal
}
section
{
    width: 1100px;
    margin: 10px;
    display: flex;
    
}

section, img
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
section, article
{
    border-radius: 10px;
    margin: 20px
}


footer 
{
    text-align: left;
    background-color: #F2F2F2;
    display: flex;
    
    
}
 footer li
{
    
    list-style-type: none;
    
}

footer h2
{
padding-left: 40px;
}

#a_propos
{
    width: 340px;
}
#nos_hebergements
{
    width: 340px;
}
#assistance
{
    width: 340px;
}
#titre_principal
{ 
    padding-left: 600px;
    text-decoration: overline;
    
}
#logo
{
    width: 100px;
}

.recherche
{   
    width: 300px;
    
}
label
{
    background-color:#0065FC;
    color: gray;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

} 
form.recherche >input
{
border-color: #d9d9d9;
border-width: 0px;
}

 #submit
{    
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        font-family: Raleway-VariableFont_wght, Arial, Helvetica, sans-serif;
        color: blanchedalmond;
}

button i.fas
{
    background-color: cornflowerblue;
    display: inline-block;
    border-radius: 30px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
}

#logo img
{
    width: 69px;
    height: 40px;
}


/* mise en page du nav dans le header */



 
nav ul 
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    
}
nav li
{
    margin-right: 15px;
}
nav a

{
    font-size: 1.3em;
    color:#0065FC;
    padding-bottom: 3px;
    text-decoration: none;
}
 a:hover
{   
    text-decoration: none;
    color: gray;
    border-bottom: 3px solid #2451ce;
 
}

#foot
{
    text-align: right;
    right: 0px; bottom: 50px;
}

article,.hebergement__card
{
    text-align: left;
    
}
article, .populaire__card
{
    border-color: crimson;
    border: 2px;
}
 #bas
 {
     margin: 5px;
     display: block;
     
 }   
#bas,h1,h2
{
    font-size: large;
    width: 900px;
}

 
#barre 

 { 

     
    margin-bottom: 10px;
     vertical-align: top; 

     text-align: left; 

     display: flex; 

     justify-content: space-between;  

 } 

 
 

 #barre> h3 

 { 
     color: #000; 
     padding-top: 25px;
     margin:0px 
    
} 

 #barre, .fas 
 { 
     border-radius:  20px;
     color:#0065FC; 

 } 

 
 

 button

{ 
    border-radius: 0.8rem;
    border: 2px solid #d9d9d9; 

} 
#loge
{ 
    display: flex;
}
#loge> h3
{
padding-bottom: 20px;
padding-left: 10px;
margin: 0px;
}

#hebergement
{
    
    background-color:#F2F2F2;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
   
   
   

}

#hebergement, h1
{
    
    color: black;
}

#hebergement, h2
{
    color: black;
    
}
.hebergement__card
{
 
  height:200px ;
  width: 270px;  
  border: solid 2px #d9d9d9;
  margin: 10px;
}
#populaire  
{   
     background-color:#F2F2F2;
    /*padding-left: 50px;*/
    vertical-align: top;
    display: inline;
   
   
  
    
    
}
#populaire, h1
{
    display: inline;
    /*padding-right: 70px;*/
    padding-right: 70px;
}
 
.populaire__card
{
 border: solid 2px #d9d9d9;
}
#activites
{
    
    height: 717px;
    padding: 10px;
    margin: 10px; ;
    text-align: left;
    position: relative;
    display: flex;
    justify-content: left;
    
    
    
}





#hebergement, #populaire, #activites, .far
{
    color:#0065FC ;   
}


